.controlPanel{
  width: 100%;
  height: 100%;
  /* position: fixed; */
  /* z-index: 100; */
  /* left: 0;
    top: 0; */
}

.buildingLabel {
  width: 600px;
  height: 600px;
  background: rgba(0, 0, 0, 0) url(/textures/label.png);
  background-size: cover;
}
.el-upload-list {
  width: 140px;
  transform: translate(88px, -43px);
}

.uploadVideoel{
  float: left;
  display: none;
  height: 46px;
  width: 80%;
  margin: 15px 20px 10px 10px;
  border: solid rgb(224, 224, 224) 4px;
  border-radius: 5px;
  transform: translateY(10px);
}

.uploadSlidesB{
  float: left;
  height: 36px;
  /* margin: 15px 60px 10px 10px; */
  border: solid rgb(224, 224, 224) 3px;
  border-radius: 5px;
  margin: 10px 1px 1px 1px;
  width: 200px;
  /* transform: translateY(10px); */
}
.uploadScriptB{
  float: left;
  height: 36px;
  /* margin: 15px 60px 10px 10px; */
  border: solid rgb(224, 224, 224) 3px;
  border-radius: 5px;
  margin: 10px 1px 1px 1px;
  width: 200px;
  /* transform: translateY(10px); */
}
.el-button--primary {
  color: rgb(100, 100, 100);
  background-color: rgb(237, 237, 237);
  border-color: rgb(237, 237, 237);
}
#upLoadVideo{
  width: calc(100% - 40px);
  display: none;
  /* background-color: aqua; */
  height: 80px;
  margin: 20px;
  margin-top: 0;
  border-bottom: solid rgba(179, 179, 179, 1) 3px;

}
#baseInformation{
  width: calc(100% - 40px);
  /* background-color: aqua; */
  height: 252px;
  margin: 20px;
  border-bottom: solid rgba(179, 179, 179, 1) 3px;

}
.el-button {
  padding: 9px 20px;
  font-size: 20px;
}
.LectureStyle{
  width: 100%;
  height: 26px;
  /* background-color: aqua; */
  border-radius: 30px;
  border: solid rgb(244, 244, 244) 1px;
  background: linear-gradient(90deg, #6f8be0 20%,#ff9c9c 20%,#ff9c9c 40%,rgb(240, 239, 197) 40%)
}
.el-table_1_column_2{
  width: 100px !important;
}
.el-dropdown {
  font-size: 24px;
  color: rgb(114, 114, 114);
}
.el-table_2_column_4   el-table__cell{
  float:right;
  color: rgb(174, 174, 174) !important;
}
.el-table .cell{
  padding-right: 5px;
}
.el-table td.el-table__cell, .el-table th.el-table__cell.is-leaf {
  border-bottom: 0px solid #EBEEF5;
}
.el-table__footer-wrapper, .el-table__header-wrapper {
  height: 15px;
}
.el-table_2_column_3   .el-table__cell{
 width: 50px !important;
}
.el-table__body{
  width: auto !important;
}
.el-descriptions {
  box-sizing: border-box;
  font-size: 18px;
  color: rgb(114, 114, 114);
}
.el-table--fit {
  font-size: 24px;
  
  color: rgb(114, 114, 114);
}
.el-table_1_column_2{
  text-align: right !important;
}
#upLoad2S{
  width: calc(100% - 40px);
  /* background-color: aqua; */
  height: 252px;
  margin: 20px;
  margin-top: 60px;
  /* border-bottom: solid rgba(179, 179, 179, 1) 3px; */

}
.el-table_2_column_4  el-table__cell{
  float:right !important;
  color: #6f8be0 !important;
}
.el-switch {
  float: right;
  margin: 5px;
}
.el-switch__core {
  border-radius: 31px;
  width: 50px !important;
  height: 27px;
}

.icons{
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#lectureStyleIconDiv{
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 690px;
  left: 610px;
}
#banshuDiv{
  position: absolute;
  width: 25px;
  height: 25px;
  top: 384px;
  left: 239px;
  z-index: 99999;
  /* overflow: hidden; */
}
#kousuDiv{
  position: absolute;
  width: 25px;
  height: 25px;
  top: 384px;
  left: 284px;
  z-index: 99999;
  overflow: hidden;
}
.el-table {
  position: inherit !important;
}
#pptDiv{
  position: absolute;
  width: 25px;
  height: 25px;
  top: 384px;
  left: 384px;
  z-index: 99999;
  /* border-left: 30px solid transparent;

  border-right: 30px solid transparent; */
  /* overflow: hidden; */
}
/* .banshu{
  z-index: 999;
  transform: translate(100px,100px);
  filter: drop-shadow(-100px -100px rgb(255, 156, 156));
}
.kousu{
  transform: translate(100px,100px);
  filter: drop-shadow(-100px -100px rgb(111, 139, 224));
}
.ppt{
  transform: translate(100px,100px);
  filter: drop-shadow(-100px -100px rgb(244, 244, 208));
} */
#tools{
  border-top: solid rgb(223, 223, 223) 2px;
  width: calc(100% - 40px);
  /* background-color: aqua; */
  height: 252px;
  margin: 20px;
  margin-top: -16px;
  /* border-bottom: solid rgba(179, 179, 179, 1) 3px; */

}
#topicControl{
  border-top: solid rgb(223, 223, 223) 2px;
  width: calc(100% - 40px);
  /* background-color: aqua; */
  height: 120px;
  margin: 20px;
  margin-top: 64px;
  /* border-bottom: solid rgba(179, 179, 179, 1) 3px; */

}
#upLoadSlides{
  float: left;
  height: calc(100% - 10px);
  width: calc(50% - 10px);
  margin: 5px;
}
#upLoadScript{
  float: left;
  height: calc(100% - 10px);
  width: calc(50% - 10px);
  margin: 5px;
}
.upTitle{
  text-align: center;
  font-size: 24px;
  color: rgb(122, 133, 147);
}
.upImg{
  float: left;
  height: calc(70% - 50px);
  width: calc(100% - 50px);
  margin: 20px;
  background-color: aqua;
}
.upButton{
  float: left;
  height: calc(30% - 50px);
  width: calc(100% - 0px);
  /* margin: 20px; */
}
.tt{
  background: none;
}
#iconUploadVideoel{
  /* float: left; */
  width: 37px;
  height: 37px;
  transform: translateY(23px);
  position: absolute;
  top: 113px;
  left: 452px;
}
#iconUploadSliderel{
  float: left;
  width: 35px;
  height: 35px;
  transform: translateY(11px);
}
#iconUploadScriptel{
  float: left;
  width: 35px;
  height: 35px;
  transform: translateY(11px);
}
.iconUpload{
  width: 100%;
  height: 100%;
  cursor: pointer;
}
